.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    align-items: center;
    background-position: center;
    background-color: rgb(189, 167, 68);
}
.loginTitle{
    font-size: 30px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 320px;
    padding: 20px;
    position: relative;
    margin-bottom: -20px;
}
.vanillaLogin{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 100px;
    padding: 20px;
    transform-style:preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:perspective(1000px);
    height: 340px;
}
label{
    margin: 10px;
    padding: 10px;
}
.loginInput{
     padding: 10px;
     background-color: white;
     border: none;
     height: 20px;
     margin: -10px 0 -10px 0px;
     border-radius: 10px;
     width: 93%;

}
.loginButton{
    margin-top: 40px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.vanilla{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 100px;
    padding: 20px;
    transform-style:preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:perspective(1000px);
    height: 440px;
}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}