.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
     background-size: cover;
    align-items: center;
    background-color: rgb(189, 167, 68);
}
.registerTitle{
    font-size: 30px;
    text-align: center;
}
.banner{
    background-color: yellow;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    color: rgb(39, 35, 35);
}
.registerForm{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 320px;
    padding: 20px;
    position: relative;
    margin-bottom: -20px;
}
.vanilla{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 100px;
    padding: 20px;
    transform-style:preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:perspective(1000px);
    height: 440px;
}
label{
    margin: 10px;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    height: 20px;
    margin: -10px 0 -10px 0px;
    border-radius: 10px;
    width: 93%;
}

.registerButton{
    margin-top: 40px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}